/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2018, 8:55:36 PM
    Author     : Takunda
*/

.notifications {
    width:40px;
    height:40px;
    background:#fff;
    border-radius:30px;
    text-align:center;
}

.notification{
    width:100%;
    padding:5px;
}

.notification h4, .notification h5{
    color:#ff5000;
}

.notifications:hover {
    width:300px;
    height:50px;
    text-align:left;
    padding:0 15px;
    background:#ff5000;
    transform:translateY(-10%);
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    position: relative;
}

.notifications:hover .fa {
    color:#fff;
}
.notifications .fa {
    color:#cecece;
    line-height:60px;
    font-size:20px;
}
.notifications .num {
    position:absolute;
    top:0;
    right:0px;
    width:20px;
    height:20px;
    border-radius:50%;
    background:#ff5000;
    color:#fff;
    line-height:20px;
    font-family:sans-serif;
    text-align:center;
}
.notifications:hover .num {
    position:relative;
    background:transparent;
    color:#fff;
    font-size:24px;
    top:-4px;
}
.notifications:hover .num:after {
    content:' Notification';
}
.notifications ul {
    position:absolute;
    left:0;
    top:50px;
    margin:0;
    width:100%;
    background:#fff;
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    padding:20px;
    box-sizing:border-box;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    display:none;
}
.notifications:hover ul {
    display:block;
}
.notifications ul li {
    list-style:none;
    border-bottom:1px solid rgba(0,0,0,.1);
    padding:8px 0;
    display:flex;
}
.notifications ul li:last-child {
    border-bottom:none;
}
.notifications ul li .icon {
    width:24px;
    height:24px; 
    background:#ccc;
    border-radius:50%;
    text-align:center;
    line-height:24px;
    margin-right:15px;
}
.notifications ul li .icon .fa {
    color:#fff;
    font-size:16px;
    line-height:24px;
}
.notifications ul li .text {
    position:relative;
    font-family:sans-serif;
    top:3px;
    cursor:pointer;
}
.notifications ul li:hover .text {
    font-weight:bold;
    color:#ff2c74;
}

.notifications h2{ color:#fff;
    text-align:center; 
}

.notifications input{
    height:30px;
    margin-left: 10px;
}

.notifications button{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
}